	html, body
	{
		height: 100%;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: white;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	ul.bullets {
		list-style-type: square;
		text-align: left;
	}
	ul.bullets li {
		margin-bottom: 1em;
	}

	.actions
	{
		text-align: center;
	}

	.actions li {}

	p
	{
		line-height: 180%;
	}

	strong
	{
	}

	a
	{
		color: #0000FF;
	}

	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}

	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #163c8c;
		border-radius: 7px;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}

	.button:before
	{
		display: inline-block;
		background: #163c8c;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}

	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}

	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}

	.box4
	{
		float: right;
	}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.three-column {
		display: table;
		border-spacing: 20px;
		border-collapse: separate;
	}

	.boxA,
	.boxB,
	.boxC
	{
		display: table-cell;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}

	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	#wrapper
	{
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		/*background: #e040fb;*/
		color: black;
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}

	#logo h1
	{
		color: black;
	}

	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: black;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: black;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #163c8c;
		border-radius: 7px;
		color: #FFF;
	}

	#menu .current_page_item a
	{
		background: #163c8c;
		color: #FFF;
	}

	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		padding: 7em 0em 5em 0em;
		background-color: #163c8c;
		background-image: url('images/banner.jpg');
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}
/*
	#banner .container {
		margin-left:  0;
		margin-right: 0;
		width: 100%;
	}
*/
	#banner .title
	{
		background-color: rgba(0,0,0,0.45);
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}

	#banner .button
	{
		margin-top: 3em;
		background: #163c8c !important;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 5em 0em;
		text-align: center;
	}

	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	footer
	{
		background: #333333;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}

	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	.featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #163c8c;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	.featured a
	{
		color: rgba(255,255,255,1);
	}

	.featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #163c8c;
	}

	.featured img
	{
		margin-bottom: 3em;
		border-radius: 7px;
	}

	.featured .title h2
	{
		color: #FFF;
	}

	.featured .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
		text-align: center;
}


	#business
	{
		overflow: hidden;
		padding: 5em 0em;
	}

	#business .title
	{
		text-align: center;
	}

	#business .button
	{
		margin-top: 5em;
	}

	#business .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}

	/*********************************************************************************/
	/* Tiles                                                                         */
	/*********************************************************************************/

	.tile {
		display: inline-block;
		position: relative;
		width: 250px;
		height: 250px;
		margin-bottom: 1em;
	}

  .tile img {
		margin-bottom: 0.5em;
	}

	.tile span {
		position: absolute;
		top:    230px;
		bottom:   0;
		left:     0;

		line-height: 20px;

		width: 100%;

		padding: 0.25em 0;

		border-bottom-left-radius:  7px;
		border-bottom-right-radius: 7px;

		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.45);
		transition: top 0.5s, line-height 0.5s, background-color 1s;
	}

	.tile:hover span {
		top: 0;
		line-height: 250px;
		background-color: rgba(0, 0, 0, 0.75);
	}

	/*********************************************************************************/
	/* Drop zone                                                                     */
	/*********************************************************************************/

	.dropzone {
		display: block;
		cursor: pointer;
		border: 2px dashed #888;
		padding: 1em;
		background: #ffc;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
	}

	.dropzone-hover {
		border: 4px dashed #0a0;
		background: #afa;
	}

	.dropzone input { display: none; }

	.modal-content { text-align: center; }
	.modal-content div { margin: 0.5em; }

	/*********************************************************************************/
	/* notifications                                                                 */
	/*********************************************************************************/

	.notification {
		display: inline-block;
		padding: 2em;
	}

	.success {
		background-color: #afa;
		color: #800;
		border: 1px solid green;
	}

	.error {
		background-color: #faa;
		color: #f00;
		border: 1px solid red;
	}

	/*********************************************************************************/
	/* Rendering                                                                     */
	/*********************************************************************************/

	#loading {
		position: fixed;
		z-index: 20;
		top: 50%;
		top: 50vh;
		left: 50%;

		margin-left: -64px;
		margin-top:  -64px;
	}

    #mininav {
      position: fixed;
      top:   5px;
      right: 5px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.8);
      padding: 0.25em;
      color: white;
      z-index: 40;
    }
    #mininav a, #mininav a:visited {
      color: white;
    }

    #mininav a:hover {
      border-bottom: 2px solid white;
    }

	canvas {
		position: fixed;
		top:    0;
		left:   0;
		bottom: 0;
		right:  0;

		z-index: 30;

		display: none;
	}

#upload_loading {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  animation: rotate 5s ease-out infinite;
  -webkit-animation: rotate 5s ease-out infinite;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  margin: 1em;
}

#upload_loading:before, .loader:after {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

#upload_loading:before {
  background: #1BADB0;
  box-shadow: 20px 0 0 #1BADB0, 40px 0 0 #1BADB0, 0 20px 0 #1BADB0, 20px 20px 0 #1BADB0, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  animation: one 5s ease infinite;
}

#upload_loading:after {
  background: #163c8c;
  box-shadow: 20px 0 0 #163c8c, 40px 0 0 #163c8c, 0 20px 0 #163c8c, 20px 20px 0 #163c8c, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  animation: two 5s ease infinite;
  z-index: 2;
}

@keyframes one {
  0% {
    background: transparent;
    box-shadow: 20px 0 0 #1BADB0, 40px 0 0 #1BADB0, 0 20px 0 #1BADB0, 20px 20px 0 #1BADB0, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
    z-index: 1;
  }
  5% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 #1BADB0, 0 20px 0 #1BADB0, 20px 20px 0 #1BADB0, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  }
  10% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 #1BADB0, 20px 20px 0 #1BADB0, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  }
  15% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 #1BADB0, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  }
  20% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  }
  25% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  }
  30% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
  }
  35% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 #1BADB0;
  }
  40% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
  }
  45% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
    z-index: 1;
  }
  50%, 100% {
    background: #1BADB0;
    box-shadow: 20px 0 0 #1BADB0, 40px 0 0 #1BADB0, 0 20px 0 #1BADB0, 20px 20px 0 #1BADB0, 40px 20px 0 #1BADB0, 0 40px 0 #1BADB0, 20px 40px 0 #1BADB0, 40px 40px 0 #1BADB0;
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}
@keyframes two {
  0%,49% {
    background: #163c8c;
    z-index: 0;
  }
  50% {
    background: transparent;
    box-shadow: 20px 0 0 #163c8c, 40px 0 0 #163c8c, 0 20px 0 #163c8c, 20px 20px 0 #163c8c, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
    z-index: 1;
  }
  55% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 #163c8c, 0 20px 0 #163c8c, 20px 20px 0 #163c8c, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
  60% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 #163c8c, 20px 20px 0 #163c8c, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
  65% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 #163c8c, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
  70% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
  75% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
  80% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
  85% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 #163c8c;
  }
  90% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
  }
  95% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
    z-index: 1;
  }
  100% {
    background: #163c8c;
    box-shadow: 20px 0 0 #163c8c, 40px 0 0 #163c8c, 0 20px 0 #163c8c, 20px 20px 0 #163c8c, 40px 20px 0 #163c8c, 0 40px 0 #163c8c, 20px 40px 0 #163c8c, 40px 40px 0 #163c8c;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}